<div class="main-wrapper">
	<h1><a ng-href="">{{project.data[0].attributes.name}}</a></h1>
  <img class="page-img" src="{{project.data[0].attributes.images[0].url}}">
	<p>{{project.data[0].attributes.description}}</p>
  <p>Created: {{ project.data[0].attributes.created_at | date:'MMMM dd, yyyy' }}</p>
  <!-- <p>TODO: add project components to data</p> -->
	{{projectComponent.hey}}

  <br>
  <br>
  <div ng-repeat="comment in comments">
    <div>{{comment.text}}</div>
  </div>
  <textarea name="" id="" cols="30" rows="10"  ng-model="newMessage.text">
    
  </textarea>
  <button ng-click="comments.$add(newMessage); newMessage.text = ''">Ask Question</button>

</div>
